#
# Updates the Let's Encrypt Certificates
00      00      *       *       0       root    env /usr/local/bin/letsencrypt renew

#
# Perform daily backups
00      06      *       *       *       root    nice /usr/local/bin/server_backup
