#!/bin/sh

# define nat IP address
nat_ip=45.55.189.168
netif=vtnet0

ipfw -f flush
ipfw -f table all flush

# Allow multiple IPFW passes
sysctl net.inet.ip.fw.one_pass=0

table=0
if [ -r /etc/ipfw.own_networks ]; then
	for ip in $(cat /etc/ipfw.own_networks); do
		ipfw table $table add $ip
	done
	ipfw add 200 allow all from "table($table)" to me in
	ipfw add 201 allow all from me to "table($table)" out
	table=$((table+1))
fi

ipfw nat 1 config ip $nat_ip same_ports unreg_only

index=1

ipfw add $index allow ip from 127.0.0.0/8 to 127.0.0.0/8 via lo0
ipfw add $index allow ip from ::1 to ::1 via lo0
ipfw add $index allow log ip from 10.0.0.0/8 to 127.0.0.1
ipfw add $index allow log ip from 127.0.0.1 to 10.0.0.0/8
ipfw add $index allow ip from fc00::/7 to ::1
ipfw add $index allow ip from ::1 to fc00::/7

index=$((index+1))

ipfw add $index allow ip from 10.0.0.0/24 to 10.0.0.0/24
ipfw add $index allow ip from fc00::1:0/112 to fc00::1:0/112 # 1:0 because 0:0 is in invalid ipv6 addr
ipfw add $((index+1)) allow ip from 10.0.1.0/24 to 10.0.1.0/24
ipfw add $((index+1)) allow ip from fc00::2:0/112 to fc00::2:0/112
ipfw add $((index+2)) allow ip from 10.0.2.0/24 to 10.0.2.0/24
ipfw add $((index+2)) allow ip from fc00::3:0/112 to fc00::3:0/112

index=$((index+5))

ipfw add $((index+1)) allow ipv6-icmp from :: to ff02::/16
ipfw add $index allow ipv6-icmp from fe80::/10 to fe80::/10
ipfw add $((index+1)) allow ipv6-icmp from fe80::/10 to ff02::/16
ipfw add $((index+1)) allow ipv6-icmp from any to any ip6 icmp6types 1
ipfw add $((index+1)) allow ipv6-icmp from any to any ip6 icmp6types 2,135,136

index=100

ipfw add $index nat 1 ip from any to $nat_ip in
ipfw add $((index+1)) check-state
ipfw add $((index+1)) allow icmp from me to any keep-state
ipfw add $index allow ipv6-icmp from me to any keep-state
ipfw add $((index+1)) allow icmp from any to any icmptypes 8
ipfw add $index allow ipv6-icmp from any to any ip6 icmp6types 128,129
ipfw add $((index+1)) allow icmp from any to any icmptypes 3,4,11
ipfw add $index allow ipv6-icmp from any to any ip6 icmp6types 3

ipfw add $index allow tcp from any to any established

index=199
ipfw add $index fwd 10.0.0.1,80  ipv4 from any to me 80 keep-state
ipfw add $index fwd 10.0.0.1,443 ipv4 from any to me 443 keep-state

index=200

# allow http, https & ssh services
ipfw add $index allow     ipv6 from any to me dst-port 80 keep-state
ipfw add $index allow     ipv6 from any to me dst-port 443 keep-state
ipfw add $index allow log  tcp from any to me dst-port 2222 setup
ipfw add $index allow      tcp from any to me dst-port 2222 keep-state

index=$((index+1))

# TeamSpeak 3
ipfw add $index allow     udp from any to me dst-port 9987 keep-state
ipfw add $index allow     tcp from any to me dst-port 10011 keep-state
ipfw add $index allow     tcp from any to me dst-port 30033 keep-state
ipfw add $index deny      tcp from any to me dst-port 41144 keep-state

index=300

# add some other stuff here, like permitting special outgoing ports from specific IPs
# if you have multiple IPs

index=700
ipfw add $index nat 1 ip4 from 10.0.0.0/8 to not 10.0.0.0/8 out

# Allow all outgoing
index=65533
ipfw add $index allow tcp from any to any out setup keep-state
ipfw add $index allow udp from any to any out keep-state

# Deny all other connection attempts
ipfw add 65534 deny log all from any to any
